li{
    display: inline-blocke;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 300рх;
}
.nav{
    padding-left: 210px;
}
.navigation{
    padding: 4%;
}
.img1{
    display: inline-block;
    margin-left: 230px;
}
.img2{
    margin-left: 350px;
}
P{
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-left: 250px;
}
.p2{
    margin-left:450px;
}
.head1{
    display: inline-block;
    width: 500px;
    height: 50px;
    margin-left: 150px;
}






