.boy{
    display: block;
    width: 175px;
    height: 325px;
    background: url("capguy-walk.png") left center;
    animation: boy 2s steps(8) infinite;
}
@keyframes boy{
    0%{
        background-position:0px ;
    }
    100%{
        background-position : -2945px;
    }

}